**/*.out
**/*.or
**/*.o
**/depend.mk
multiSolver/multiGlucose
gpu/glucose-gpu
test/test-glucose
coreTest/test-core-glucose
simp/glucose
parallel/glucose-syrup
perftest/perftest-glucose
ProgressEstimator/progressEstimator
**/*_release
**/*_debug
**/*_profile
**/*.swp
**/*.cudafe1.*
**/*.ptx
**/*.fatbin*
**/*.module_id
**/*.cubin
